{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié !{% endblock %}

{% block insert %}
    <div class="container" id="haut">
        <div class="mx-auto forgot-password">
            <form method="post" >
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="mb-3 ">Mot de passe oublié</h3>
                    <div class="d-flex flex-column justify-content-center border forgot-password-input p-4">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="Email" required autofocus>

                        <button class="btn btn-lg btn-primary forgot-password-button" type="submit">Send mail !</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}