{% extends 'base.html.twig' %}

{% block body %}
    
    {% include "trick/_tricks.html.twig" %}

    <div class ="arrow_b d-flex flex-row-reverse" >
        <a href="#haut"><img class="arrow_high" src="{{ asset('build/fleche_haut.png') }}" alt="Fleche haut"></a>
    </div>

    {{ button }}
     
{% endblock %}

{% block javascripts %}
{% endblock %}

 