{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mb-5" id="haut">
        {% include "_home_header.html.twig" %}
        {% include "_tricks.html.twig" %}
    </div>
{% endblock %}