{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid home_page mb-5" id="haut">
        {% include "_home_header.html.twig" %}
        {% include "trick/_tricks.html.twig" %}
        <span id="linkToController" data-path="{{ path('home.tricks.more') }}"></span>
    </div>
{% endblock %}
{% block javascripts %}
   
{% endblock %}