{% extends 'base.html.twig' %}

{% block body %}
    <div class="home_page mb-5" id="haut">
        <div class="header content-block"> {# la div header contient l'image de banière #}
            <div class="arrow">
                <a href="#bas"><img class="arrow_down" src="{{ asset('build/fleche_bas.png') }}" alt="Fleche bas"></a>
            </div>
        </div>

        {% include "trick/_tricks.html.twig" %}
    
        <div class ="arrow">
            <a href="#haut"><img class="arrow_high" src="{{ asset('build/fleche_haut.png') }}" alt="Fleche haut"></a>
        </div>

        <span id="linkToController" data-path="{{ path('home.tricks.more') }}"></span>
        
    </div>
{% endblock %}
{% block javascripts %}
   
{% endblock %}