.trick_image{
    width: 20%;
}

.home_page{
    background-color:rgba(190, 223, 218, 0.979);
}

.header {
    background-image: url("../img/home_img.jpg");
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 620px;
}

.card{
    width: 17rem;
    height: 16rem;
}

.card-img-top{
    height: 12rem;
}
.card-body, .card-body > .liens{
    display: flex;
}

.card-title{
    width: 80%;
    display: inline-block;
}

.card-title > a{
    color: #4ec9ff;
    display: inline-block;
    font-size: 1rem;
}

.card-body > .liens{
    width: 12%;
}

.content-block{
    margin-bottom: 2em;
}

/* Couleur utilisée pour les liens */
.navbar .navbar-dark > li > a {
    color: white;
}

.btn-haut{
    background: url("../img/fleche_haut.png");
}

.anchor_arrow_down{
    width: 22%;
    text-align: right;
}

.anchor_arrow_hight{
    width: 2%;
}
.show_page{
    background-color : white;
    width: 80%;
}
.show_main_picture{
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

.show_picture{
    width: 150px;
    margin-left: 8px;
    margin-right: 8px;
}

.show_div_icones,
.show_div_titre{
    height: 33%;
}

.show_media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.show_description{
    width: 70%;
    font-size: 0.8em;
    line-height: 1em;
}

.show_div_info{
    display: flex;
    width: 45%;
    font-size: 0.6em;
    font-weight: bold;
}   

.show_info{
    text-align: center;
    width: 30%;
    margin: auto;
}

.show_comment_form{
    width: 45%;
}

.show_commentaires{
    font-size: 0.8rem;
    width:45%;
}

.icone_effacer{
    width: 20px;
}

.icone_editer{
    width: 25px;
}

.show_barre{
    width: 70%;
}

.show_more_comment_btn{
    width: 17%;
}

.show_picture_title{

}