.far, .fas {
    color: black;
}

.trick_image {
    width: 20%;
}

.home_page {
    background-color:rgba(190, 223, 218, 0.979);
}

.header {
    background-image: url("../img/fond.jpg");
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 39rem;
}

.bckgnd_blue{
    background-color: #566dea9e;
}

.card {
    width: 17rem;
    height: 16rem;
    border-radius: 0.5rem;
}

.card-img-top {
    height: 12rem;
}

.card-body, .card-body > .liens{
    display: flex;
}

.card-title {
    width: 90%;
}

.card-title > a {
    color: #4ec9ff;
    font-size: 1rem;
}

.card-body > .liens {
    width: 22%;
}

.content-block {
    margin-bottom: 2em;
}

/* Couleur utilisée pour les liens */
.navbar .navbar-dark > li > a {
    color: white;
}

.btn-haut {
    background: url("../img/fleche_haut.png");
}

.anchor_arrow_down {
    width: 22%;
    text-align: right;
}

.anchor_arrow_hight {
    width: 2%;
}

.show_page {
    background-color : #d9e0ee;
    width: 95%;
}

.show_page_name{
    height: 100%;
}

.show_main_picture {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

.medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.show_description {
    width: 70%;
    font-size: 0.8em;
    line-height: 1em;
    min-height: 2rem;
}

.show_div_info {
    display: flex;
    width: 45%;
    font-size: 0.6em;
    font-weight: bold;
}   

.show_info {
    text-align: center;
    width: 30%;
    margin: auto;
    border: 1px solid white!important;
}

.show_comment_form {
    width: 45%;
}

.show_commentaires {
    width:45%;
    font-size: 0.65rem;
    line-height: 1;
}

.icone_effacer {
    width: 20px;
}

.icone_editer {
    width: 16px;
    height: 24px;
}

.show_barre {
    width: 70%;
}

.div_show_more_comment_btn{
    height: 4rem;
}

.show_more_comment_btn {
   height: 50%;
   vertical-align: center;
}

.main_picture_img {
    width: 100%;
}

.btn_main_picture {
    width:40%;
    margin-bottom: 8px;
}

.edit_main_picture{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.picture_group {
    width: 22%;
}

.edit_medias {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.edit_cards{
    width: 250px;
    height: 200px;
}
.edit_card_img {
   max-width: 100%;
   max-height: 100%;
}

.edit_icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: %;
    padding: 3px;
    padding-top: 10px;
    border: 1px solid;
    border-color: #64d3fa;
    border-radius: 5px;
    line-height: 1rem;
}

.main_picture_text {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 43px;
}

.edit_delete_btn {
    line-height: 1rem;
    font-size: 1.0rem;
}

.edit_save_btn {
    font-size: 1.0rem;
    line-height: 1rem;
}

.registration_box {
    background:rgba(19, 70, 117, 0.4);
    border-radius: 10px;
    color : white;
}

.registration_title{
    color: white;
}

.login_box {
    background:rgba(19, 70, 117, 0.4);
    border-radius: 10px;
    color : white;
}

.login_label {
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
}

.login_btn_line {
    height: 50px;
    margin: auto;
}

.login_btn {
    display: inline-block;
    height: 2rem;
    margin:auto;
}

.main_picture_form{
    background-color: white;
}

.main_picture_edit_form{
    width: 50%;
    margin: auto;
    background: white;
    border: 1px solid blue;
    border-radius: 10px;
}

ul.photos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 70%;
}

.custom-file-input{
    opacity: 1;
}

#ajout_photo {
    border: 1px solid red;
    height: 2rem;
}

fieldset .col-form-label {
    display: none;
}

/* Saisie image */
.champ_saisie_image{
    display: none;
}