{% extends 'base.html.twig' %}

{% block body %}
<h3>Bienvenue sur SnowTricks</h3>

    Pour activer votre compte, veuillez cliquer sur le lien ci-dessous
    ou copier/coller dans votre navigateur Internet.

    ---------------
    Ceci est un mail automatique, Merci de ne pas y répondre.';

{% endblock %}