<div class="header content-block"> {# la div header contient l'image de banière #}
     <div class="arrow">
          <a href="#bas"><img class="arrow_down" src="{{ asset('build/fleche_bas.png') }}" alt="Fleche bas"></a>
     </div>
</div>