<div id="header" class="content-block">
     {% include "_navBar.html.twig" %}
     <div class="arrow-bas">
          <a href="#bas"><img class="arrow_down" src="{{ asset('build/fleche_bas.png') }}" alt="Fleche bas"></a>
     </div>
</div>