<div class="content-block header"> {# la div header contient l'image de banière #}
     {% include "_navBar.html.twig" %}
     <div class="arrow">
          <a href="#bas"><img class="arrow_down" src="{{ asset('build/fleche_bas.png') }}" alt="Fleche bas"></a>
     </div>
</div>