{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="haut">
        <div class="show_page mx-auto mt-3 pb-5">

            {# Image à la une #}
            <div class="show_main_picture d-flex flex-column" 
                style="background-image: url( /build{{ asset(trick.mainPicture) }} );">
                {# Nom du trick #}
                <div class="show_div_titre d-flex flex-column justify-content-center align-items-center">
                    <div class="show_picture_title text-center">
                        <h1>{{ trick.name }}</h1>
                    </div>
                </div>
            </div>

            <div class="edit_form mx-auto">
                {{ include('admin/trick/_editform.html.twig') }}
            </div>
           {# <embed src="https://www.youtube.com/embed/CrLMXqNuUXw">#}
        </div>
    </div>
{% endblock %}
