{% extends 'base.html.twig' %}

{% block mainPicture %}
    {% include "pages/_newTrickMainPicture.html.twig" %}
{% endblock %}

{% block body %}
    <div class="bckgnd_blue">
        <h2>Nouveau trick</h2>
        <section class="container edit_form mx-auto pb-5">
            {{ include('admin/trick/_editform.html.twig') }}
        </section>
    </div>
{% endblock %}
