{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un trick</h1>

    {{ include('admin/trick/_newform.html.twig', {button: 'Créer'}) }}

</div>
{% endblock %}