{% extends 'base.html.twig' %}

{% block mainPicture %}
    {% include "pages/_newTrickMainPicture.html.twig" %}
{% endblock %}


{% block body %}
    <section class="container edit_form mx-auto pb-5">
        {{ include('admin/trick/_editform.html.twig') }}
    </section>
{% endblock %}