<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title text-primary">
            <h5 class="card-title">
                <a href="{{ path('trick.show', {id : trick.id, slug : trick.slug}) }} ">{{ trick.name }}</a>
            </h5>
        </h5>
    </div>
</div>