{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block insert %}
   <div class="row align-items-center" id="content-panel">
		<div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-md-3 col-md-4 offset-lg-4 col-lg-3 offset-xl-4 col-xl-3 text-center reset-password-form">
			<h5>Réinitialisation du mot de passe</h5>
            <div class="">
                {{ form_start(form) }}
                {{ form_row(form.oldPassword, {
                    'label': 'Mot de passe actuel' 
                }) }}

                {{ form_row(form.plainPassword) }}
                
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Redéfinir le mot de passe</button>
                </div>
                {{ form_end(form) }}
            </div>
		</div>
	</div>
{% endblock %}